uvicorn
fastapi==0.120.2
langchain==0.3.27
langchain-community==0.3.31
langchain-google-genai==2.1.12
python-dotenv==1.2.1
sentence-transformers==5.1.2
tiktoken
bs4
faiss-cpu
pypdf
python-multipart
faster-whisper
websockets
webrtcvad
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
celery
redis
dateparser