uvicorn
fastapi
langchain
langchain-community
langchain-google-genai
python-dotenv
sentence-transformers
langchain-pinecone
tiktoken
bs4
faiss-cpu
pypdf
python-multipart
faster-whisper
websockets
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
celery
redis
